html {
    text-align: justify;
}

main {
    background-color: lavenderblush;
}

.medical-transport-header {
    position: relative;
    background-image: url(images/header-bg.jpg);
}

.medical-transport-header .mdl-layout__header-row {
    padding: 0;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.mdl-layout__title {
    font-size: 2.0rem;
    text-align: center;
    font-weight: 500;
}

.is-compact .mdl-layout__title span {
    display: none;
}

.medical-transport-logo-row {
    min-height: 200px;
}

.is-compact .medical-transport-logo-row {
    min-height: auto;
}

.medical-transport-logo {
    background: url(images/eskulap.png) 50% no-repeat;
    background-size: contain;
    height: 150px;
    width: 150px;
    margin: auto auto 10px;
}

.is-compact .medical-transport-logo {
    height: 50px;
    width: 50px;
    margin-top: 7px;
}

.medical-transport-navigation-row {
    background-color: rgba(0, 0, 0, 0.08);
    text-transform: uppercase;
    height: 45px;
}

.medical-transport-navigation-row  .mdl-navigation {
    text-align: center;
    max-width: 1000px;
    width: 100%;
    height: 42px;
}

.medical-transport-navigation-row .mdl-navigation__link {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    line-height: 42px;
}

.medical-transport-header .mdl-layout__drawer-button {
    background-color: rgba(197, 197, 197, 0.44);
}

.medical-transport-navigation-row .is-active {
    position: relative;
    font-weight: bold;
}

.medical-transport-navigation-row .is-active:after {
    content: "";
    width: 70%;
    height: 2px;
    display: block;
    position: absolute;
    bottom: 0;
    background-color: rgb(255,64,129);
    left: 15%;
}

.mdl-card__title {
    justify-content: center;
}

.mdl-card__title-text {
    font-size: 38px;
    text-align: center;
    font-weight: 400;
}

.medical-transport-blog-card-bg > .mdl-card__actions {
    height: 52px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.2);
}

img.article-image {
    width: 100%;
    height: auto;
}

.medical-transport-max-width {
    max-width: 900px;
    margin: auto;
}

.medical-transport-copy {
    max-width: 700px;
}

.no-padding {
    padding: 0;
}

.no-left-padding{
    padding-left: 0;
}

.no-bottom-padding {
    padding-bottom: 0;
}

.padding-top {
    padding: 10px 0 0;
}

.medical-transport-share-btn {
    position: relative;
    float: right;
    top: -4px;
}

.demo-card-event > .mdl-card__actions {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.medical-transport-contact .mdl-textfield {
    width: 100%;
}

.adjusted-paragraph {
    line-height: 32px;
    font-size: 1.6rem;
    text-align: center;
}

.section-label {
    text-align: center;
    margin-top: 30px;
    font-size: 2.7rem;
    margin-bottom: 20px;
}

.sections {
    justify-content: center;
}

.contact-container {
    margin-top: 25px;
}

.contact-text {
    font-size: 1.6rem;
    text-align: center;
    line-height: 36px;
}

.contact-field {
    font-weight: 600;
    font-size: 26px;
}

.contact-form {
    max-width: 550px;
    text-align: center;
    margin: 30px auto auto;
}

.footer-image {
    width: 30px;
    height: 30px;
}

.footer-label {
    margin-left: 10px;
}

footer {
    background-size: cover;
}

@media (max-width: 700px) {
    .tablet-and-desktop {
        display: none;
    }
}

.mdl-textfield.is-invalid .mdl-textfield__input {
    border-color: inherit;
}

.mdl-textfield--floating-label.is-invalid .mdl-textfield__label {
    color: currentColor;
}

.mdl-textfield.is-invalid .mdl-textfield__label::after {
    background-color: currentColor;
}

.is-invalid {
    color: currentColor;
}

.mdl-textfield {
    width: 400px;
}

.is-compact {
    cursor: pointer;
}

.animation-fade-in {
    animation: 4s fadeIn;
    animation-fill-mode: both;
}

.animated {
    opacity: 0;
}

@keyframes fadeIn {
    from {
        transform: translate3d(0,40px,0);
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.section__image-container > .section__image-container__image {
    width: 64px;
    height: 64px;
    margin: 8px 0;
}

.section__text:not(:last-child) {
    border-bottom: 1px solid rgba(0,0,0,.13);
}

.section__text {
    text-align: center;
}

.center-text {
    text-align: center;
}

.margin-bottom-30 {
    margin-bottom: 30px !important;
}

.bolded {
    font-weight: 600;
}

.checked-container {
    display: flex;
}

.checked-image {
    width: 24px;
    height: 24px;
    margin-right: 15px;
}

.checked-paragraph {
    line-height: 24px;
    font-size: 1.6rem;
    text-align: left;
}
